.gallery_container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.gallery_item_container {
  width: 25%;
  height: 400px;
  cursor: pointer;
  // background: purple;
  padding: 20px;

  @media screen and (max-width: $desktop-breakpoint) {
    width: 100%;
  }

  & img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    margin-bottom: 30px;
    border-radius: 10px;
    opacity: 0.7;
    transition: 0.4s ease;
    @media screen and (max-width: $desktop-breakpoint) {
      opacity: 1;
      border-radius: 7px;
    }
  }

  & .gallery_item_title {
    font-size: 18px;
    // color: darken($white, 20);
    transition: 0.4s ease;
  }
  & .gallery_item_desc {
    font-size: 15px;
    margin-top: 20px;
    color: var(--secondaryTextColor2);
  }

  &:hover {
    .gallery_item_title {
      // color: darken($white, 50);
    }
    img {
      opacity: 1;
      transform: scale(1.02);
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    }
  }
}
