@import url("https://fonts.googleapis.com/css2?family=El+Messiri&display=swap");
@import "./base/settings";
@import "./components/header";
@import "./components/carousel";
@import "./components/toggle";
@import "./components/sectionheader";
@import "./components/gallery";
@import "./components/shop";
@import "./components/aboutpainting";
@import "./components/footer";
@import "./components/pageheader";
@import "./components/galleryM";
@import "./components/biography";
@import "./components/nft";
@import "./components/cart";
@import "./components/news";
@import "./components/admin";
@import "./components/input";
@import "./components/table";
@import "./components/alertbox";
@import "./components/loader";
@import "./components/modal";
